/* montserrat-200 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-regular - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-500 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-800 - latin_cyrillic */
    @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* montserrat-900 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v15-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: black;
}
img {
    max-width: 100%;
    height: auto;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
    position: relative;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: #F9F9F9;
}
::-webkit-scrollbar-thumb {
    background-color: #606060;
    border-radius: 15px;
    border: 3.5px solid #F9F9F9;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #CCCCCC;
}
.scroll {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    z-index: 5;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #CE1180;
    margin-bottom: 10px;
    opacity: 20%;
}

/* Header starts */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    transition: .2s;
}
.header__active {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
}
.header__wrapper {
    display: flex;
    align-items: center;
}

.logo__rectangle {
    width: 165px;
    height: 84px;
    background-color: #CE1180;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo__nav {
    display: none;
}
.header__nav {
    width: 100%;
}
.header__nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nav__item {
    margin-left: 45px;
}
.nav__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: black;
}
.nav__link:hover, .nav__link:active, .nav__link:focus {
    opacity: .65;
}
.nav__item:last-child {
    text-decoration: underline;
}
.nav__link__media {
    display: none;
}
.phone__img {
    margin-right: 11px;
}



/* Header ends */


/* Main starts */

/* Main page starts */

.main-page {
    min-height: 100vh;
    background-color: #8DD7FE;
}
.main__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main__section-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    height: auto;
    margin-top: 70px;
}

.main__section-left {
    grid-column-start: 1;
    grid-column-end: span 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main__img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    grid-column-start: 2;
    grid-column-end: span 1;
    margin: 0 auto;
    position: relative;
}
.main__img {
    z-index: 9;
}
.main__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 3px;
    color: #F6F6F6;
    margin-bottom: 20px;
    position: relative;
}

.main__title__fun {
    border-right: 5px solid #F6F6F6;
    animation: cursor 1s step-end infinite;
}
@keyframes cursor {
    0% {
        border-color: white;
    }
    50% {
        border-color: transparent;
    }
    100% {
        border-color: white;
    }
}
.main__subtitle {
    max-width: 671px;
    font-weight: 500;
    font-size: 20px;
    line-height: 37px;
    color: #F6F6F6;
    margin-bottom: 70px;
}
.main__button {
    padding: 22px 37px;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #322E2F;
    cursor: pointer;
    position: relative;
    z-index: 9;
    /* margin-bottom: 20px; */
}
.main__button:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.button__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.button__circle {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(206, 17, 128, 0.6);
    pointer-events: none;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    animation: scaleUp .7s forwards;
}

@keyframes scaleUp {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(5);
    }
}
.main__animation {
    position: absolute;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    transition: .7s;
    z-index: 10;
}
.text1 {
    top: 25%;
    left: 0%;
    transform: rotate(20deg);
}
.text2 {
    top: 50%;
    left: -20%;
    transform: rotate(-20deg);
}
.text3 {
    top: 80%;
    left: 0%;
    transform: rotate(-10deg);
}

/* Main page ends */

/* Creative starts */

.creative-page {
    background-color: #fff;
    background: url(../img/bg_circle_2.svg) -3% 10% no-repeat,
                url(../img/bg_circle_3.svg) 93% 91% no-repeat;
}
.creative__title {
    padding-top: 84px;
    max-width: 649px;
    margin: 0 auto 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    text-align: center;
    color: #322E2F;
    z-index: 9;
}
.creative__title__media {
    display: none;
}
.creative__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    column-gap: 100px;
    row-gap: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 84px;
}
.creative__img__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.creative__img__wrapper-2 {
    padding-right: 4.2%;
    padding-left: 4.2%;
}
.creative__img__wrapper-3 {
    padding-right: 4.2%;
    padding-left: 4.2%;
}
.creative__img-1 {
    display: block;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.creative__img-2 {
    display: block;
    margin: 0 auto;
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.creative__img-3 {
    display: block;
    margin: 0 auto;
    grid-column-start: 3;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 1;
}
.img__caption {
    min-width: 180px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #322E2F;
}
.bg__circle-1 {
    border-radius: 50%;
    width: 201px;
    height: 201px;
    background-color: #CE1180;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 5%;
    z-index: 1;
}
.bg__circle-4 {
    border-radius: 50%;
    width: 144px;
    height: 144px;
    background-color: #CE1180;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    left: 1%;
}

/* Creative ends */

/* Cards starts */

.cards-page {
    background: url(../img/bg_circle_5.svg) 75% 9% no-repeat,
                url(../img/bg_circle_5.svg) 82% 95% no-repeat;
    background-color: #8DD7FE;
}
.cards-page .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards__title {
    padding-top: 84px;
    max-width: 511px;
    margin: 0 auto 43px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    text-align: center;
    color: #322E2F;
}
.cards__view-window {
    width: 70%;
    margin-bottom: 50px;
    overflow: hidden;
    transform-origin: top;
}
.cards__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 332px);
    column-gap: 5%;
    top: 0;
    left: 0;
    position: relative;
    transition: .2s;
}
.cards__item {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 4px solid black;
    position: relative;
    overflow: hidden;
}
.cards__item::before {
    content: "";
    width: 600px;
    height: 40px;
    background-color: white;
    opacity: .7;
    position: absolute;
    transform: rotate(45deg);
    top: 100%;
    left: -140%;
    z-index: 1;
    animation: flare 10s ease-in-out 2s infinite;
}
@keyframes flare {
    0% {
        top: 100%;
        left: -140%;
    }
    15% {
        top: -10%;
        left: 20%;
    }
    100% {
        top: -10%;
        left: 20%;
    }
}
.cards__item__batman {
    background: url(../img/background_batman.png) no-repeat center 53%;
    background-color: rgba(17, 161, 220, 1); 
}
.cards__item__spider {
    background: url(../img/background_spider.png) no-repeat center 50%;
    background-color: rgba(17, 161, 220, 1);
    position: relative;
    overflow: hidden;
}
.cards__item__captain {
    background: url(../img/background_captain.png) no-repeat center 50%;
    background-color: rgba(17, 161, 220, 1);
    position: relative;
    overflow: hidden;
}
.cards__item__turtle {
    background: url(../img/background_turtle.png) no-repeat center 50%;
    background-color: rgba(17, 161, 220, 1);
    position: relative;
    overflow: hidden;
}
.cards__item__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #322E2F;
    z-index: 5;
}
.cards__img__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}
.cards__img__wrapper__pic {
    width: 80%;
}
.cards__order-button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #322E2F;
    position: relative;
    cursor: pointer;
    z-index: 5;
}
.cards__order-button:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.cards__arrow-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    z-index: 7;
}
.cards__arrow-left:hover {
    cursor: pointer;
}
.cards__arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    z-index: 7;
}
.cards__arrow-right:hover {
    cursor: pointer;
}
.cards__bar {
    width: 30%;
    border-top: 2px solid rgba(50, 46, 47, 0.5);
    padding-bottom: 84px;
}
.cards__bar__scroll {
    transform: translateY(-50%) translateX(0%);
    width: 50%;
    border-top: 4px solid #322E2F;
    transition: .2s;
}

/* Cards ends */

/* Portfolio starts */

.portfolio {
    background-color: #fff;
    background: url(../img/bg_circle_7.svg) 17% 10% no-repeat,
                url(../img/bg_circle_8.svg) 95% -5% no-repeat,
                url(../img/bg_circle_9.svg) 0% 100% no-repeat,
                url(../img/bg_circle_10.svg) 51% 98% no-repeat;
}
.portfolio__title {
    padding-top: 84px;
    margin: 0 auto 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    text-align: center;
    color: #322E2F;
}
.portfolio__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    padding-bottom: 84px;
}
.portfolio__photo {
    transition: .3s;
    overflow: hidden;
}
.portfolio__photo__pic {
    width: 100%;
    height: 100%; 
}
.portfolio__photo:hover {
    transform: scale(1.05);
    border-radius: 10px;
    cursor: pointer;
}
.portfolio__photo-1 {
    grid-column: span 3;
    grid-row: span 1;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
}

.portfolio__photo-2 {
    grid-column: span 2;
    grid-row: span 1;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
}
.portfolio__photo-3 {
    grid-column: span 1;
    grid-row: span 1;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
}
.portfolio__photo-4 {
    grid-column-start: 7;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
}
.portfolio__photo-5 {
    grid-column: span 3;
    grid-row: span 1;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
}
.portfolio__photo-6 {
    grid-column: span 1;
    grid-row: span 1;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
}
.portfolio__photo-7 {
    grid-column: span 2;
    grid-row: span 1;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
}

/* Portfolio ends */

/* Info starts */

.info {
    background: url(../img/bg_circle_11.svg) 98% 2% no-repeat,
                url(../img/bg_circle_12.svg) -4% 45% no-repeat,
                url(../img/bg_circle_13.svg) 50% 85% no-repeat;
                background-color: #8DD7FE;
}
.info__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 84px;
}
.info__title {
    padding-top: 84px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    color: #fff;
    text-align: center;
}
.info__section-left {
    width: 50%;
}
.info__section-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.info__subtitle {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #322E2F;
}
.info__subtitle__media {
    display: none;
    padding-top: 40px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 37px;
    color: #322E2F;
}

.info__text {
    max-width: 600px;
    margin-bottom: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #322E2F;
}
.info__text__media {
    display: none;
    margin-bottom: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #322E2F;
}
.info__list {
    padding-left: 20px;
}
.info__item {
    max-width: 576px;
    margin-bottom: 15px;
    position: relative;
}
.info__item::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #11A1DC;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    top: 6px;
    left: -20px;
}
.info__item:last-child {
    margin-bottom: 0;
}
.info__item__text {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 140%;
    color: #322E2F;
}
.info__img__wrapper {
    position: relative;
    overflow: hidden;
}
.pic__wrap {
    position: relative;
    position: absolute;
    top: 55%;
    left: 50%;
    transform-origin: left top;
    transform: scale(.9) translateX(-50%) translateY(-50%);
}
.pic {
    width: 534px;
    height: 534px;
    transform: rotate(0deg);
    overflow: visible;
    animation: rotation 7s linear infinite;
}
.pic__text {
    font-family: 'Montserrat';
    font-size: 30px;
    fill: #fff;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* Info ends */


/* Main ends */

/* Footer starts */

.footer {
    background: url(../img/bg_circle_14.svg) -2% 10% no-repeat,
                url(../img/bg_circle_15.svg) 90% 20% no-repeat,
                url(../img/bg_circle_16.svg) 50% 33% no-repeat,
                url(../img/bg_circle_17.svg) 5% 85% no-repeat,
                url(../img/bg_circle_18.svg) 57% 90% no-repeat;
                background-color: #fff;
}
.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.footer__form {
    width: 50%;
}
.form__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    z-index: 100;
    visibility: hidden;
    transition: .2s;
    opacity: 0;
}
.form__dialog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 550px;
    border: 5px solid #CE1180;
    border-radius: 47px;
    padding: 59px 53px 14.5px;
    background-color: rgba(255, 255, 255, 1);
    transition: .2s;
    transform: translateY(-500px);
    opacity: 0;
}
.form__wrap--active {
    visibility: visible;
    opacity: 1;
}
.form__dialog--active {
    transform: translateY(0);
    opacity: 1;
}

.form__title {
    padding-top: 84px;
    margin-bottom:  41px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    text-align: center;
    color: #322E2F;
}
.form__fill {
    padding: 37px;
    margin: 0 auto;
    border: 5px solid #E3D80B;
    display: flex;
    flex-wrap: wrap;
    max-width: 445px;
    position: relative;
}
.form__fill::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8) url(../img/Spinner-1s-703px.gif) center / 150px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}
.form__fill.sending::after {
    opacity: 1;
    visibility: visible;
}
.form__fill__dialog {
    padding: 37px;
    margin: 0 auto;
    border: 5px solid #E3D80B;
    display: flex;
    flex-wrap: wrap;
    width: 445px;
}
.form__field {
    width: 100%;
    background-color: rgba(227, 216, 11, 0.4);
    border: none;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 25px;
    margin-bottom: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 24px;
    color: #322E2F;
}
select {
    appearance: none;
    background: url(../img/arrow_form.svg) no-repeat right 5% center;
}
select:hover {
    cursor: pointer;
}
.form__field__option {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 24px;
    color: #322E2F;
}
.form__field::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    line-height: 24px;
    color: #322E2F;
}
.input__wrap-1, .input__wrap-2, .input__wrap-3, .input__wrap-10, .input__wrap-20, .input__wrap-30 {
    width: 100%;
}
.form__field__name-valid {
    position: relative;
}
.form__field__phone-valid {
    position: relative;
}
.form__field__name-valid::after {
    content: 'Вводите только буквы';
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 10%;
    left: 0;
    padding-left: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #322E2F;
}
.form__field__phone-valid::after {
    content: 'Вводите только цифры';
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 10%;
    left: 0;
    padding-left: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #322E2F;
}
.form__button {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    background: #F6F6F6;
    border: 2px solid #322E2F;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #322E2F;
    cursor: pointer;
    position: relative;
}
.form__button:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.form__close {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 14.5px;
}
.form__close:hover {
    cursor: pointer;
}
.form__close__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #322E2F;
    position: absolute;
    top: 50%;
}
.form__close__line:first-child {
    transform: translateY(-50%) rotate(45deg);
}
.form__close__line:last-child {
    transform: translateY(-50%) rotate(-45deg);
}
.footer__contacts {
    width: 50%;
}
.contacts__wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}
.contacts__title {
    padding-top: 84px;
    margin: 0 auto 118px;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 135%;
    color: #322E2F;
}
.footer__list {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #322E2F;
    padding-left: 44px;
    margin: 0 auto;
}
.footer__list__item {
    margin-bottom: 60px;
    position: relative;
}
.footer__list__item__geo::before {
    position: absolute;
    content: url(../img/geo.svg);
    top: -5px;
    left: -44px;
}
.footer__list__item__phone::before {
    position: absolute;
    content: url(../img/phone.svg);
    top: -3px;
    left: -44px;
}
.footer__list__item__mail::before {
    position: absolute;
    content: url(../img/mail.svg);
    top: 3px;
    left: -44px;
}
.footer__img__social {
    margin-right: 25px;
}
.footer__img__social:last-child {
    margin-right: 0;
}
.footer__img__social:hover, .footer__img__social:focus, .footer__img__social:active {
    opacity: 0.65;
}
.footer__logo {
    display: flex;
    justify-content: flex-end;
}


/* Footer ends */

/* Portfolio slider starts */

.portfolio__slider {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    z-index: 12;
    transform: scale(.8);
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}
.portfolio__slider--active {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
.slides {
    position: relative;
    height: 90%;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    list-style-type: none;
}
.slide {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 12;
    transition: opacity 1s;
}
.showing {
    opacity: 1;
    z-index: 13;
}

.slider__pic {
    width: auto;
    max-height: 100%;
    margin: auto;
}
.controls {
    z-index: 14;
}
.slides .cards__arrow-left {
    left: -10%;
}
.slides .cards__arrow-right {
    right: -10%;
}
.slider__bottom {
    display: flex;

    margin-top: 10px;
    margin-bottom: 10px;
}
.pause {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #322E2F;
    font-weight: 600;
    font-size: 12px;
}
.pause:hover {
    cursor: pointer;
}
.slider__nav__close {
    width: 30px;
    height: inherit;
    position: relative;
}
.slider__nav__close:hover {
    cursor: pointer;
}
.slider__nav__close__line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #322E2F;
    position: absolute;
    top: 50%;
    left: 50%;    
}
.slider__nav__close__line:first-child {
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.slider__nav__close__line:last-child {
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

/* Portfolio slider ends */


/* В конце нужно сделать медиазапросы относительно ширины и !!!!!!!ВЫСОТЫ!!!!!!! */

@media screen and (max-width: 1231px) {
    .main__title {
        font-size: 45px;
        line-height: 56px;
        margin-bottom: 10px;
    }
    .main__subtitle {
        font-size: 18px;
    }
    .cards__item__title {
        font-size: 15px;
    }
    .cards__order-button {
        font-size: 12px;
        line-height: 24px;
    }
}
@media screen and (max-width: 1171px) {
    .main__title {
        font-size: 40px;
        line-height: 51px;
        margin-bottom: 10px;
    }
    .main__subtitle {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 50px;
    }
    .cards__view-window {
        width: 80%;
    }
    .pic__wrap {
        transform: scale(.8) translateX(-50%) translateY(-50%);
    }
}
@media screen and (max-width: 1118px) {
    .nav__link__hide {
        display: none;
    }
    .nav__link__media {
        display: block;
    }
    .info__wrapper {
        padding-top: 0;
    }
    .info__subtitle-1 {
        display: none;
    }
    .info__text {
        display: none;
    }
    .info__subtitle__media {
        display: block;
    }
    .info__text__media {
        display: block;
    }
    .info__img__wrapper {
        width: 80%;
    }
    .info__section-right {
        justify-content: center;
    }
    .info__section-left {
        display: block;
    }
    .pic__wrap {
        transform: scale(.6) translateX(-50%) translateY(-50%);
    }
}
@media screen and (max-width: 1032px) {
    .main__title {
        font-size: 35px;
        line-height: 46px;
        margin-bottom: 10px;
    }
    .main__subtitle {
        font-size: 15px;
        line-height: 27px;
    }
    .main__button {
        font-size: 15px;
    }
}
@media screen and (max-width: 999px) {
    .nav__link__media {
        display: none;
    }
    .phone-number {
        display: none;
    }
    .form__dialog {
        transform: scale(.9);
    }
    .creative__wrapper {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0 auto;
    }
    .cards__view-window {
        width: 90%;
    }
    .cards__wrapper {
        column-gap: 5%;
    }
    .cards__bar__scroll {
        width: 33.3%;
    }
    .portfolio__wrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .portfolio__photo-1 {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
    
    .portfolio__photo-2 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 1;
    }
    .portfolio__photo-3 {
        grid-column-start: 4;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
    .portfolio__photo-4 {
        grid-column-start: 3;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 2;
    }
    .portfolio__photo-5 {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .portfolio__photo-6 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .portfolio__photo-7 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 4;
        grid-row-end: span 1;
    }
    .pic__wrap {
        transform: scale(.55) translateX(-50%) translateY(-50%);
    }
    .footer .form__fill {
        margin-right: 5%;
        margin-left: 5%;
    }
}
@media screen and (max-width: 933px) {
    .main__title {
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 10px;
    }
    .main__subtitle {
        font-size: 15px;
        line-height: 20px;
    }
    .main__button {
        font-size: 15px;
        padding: 17px 32px;
    }
}
@media screen and (max-width: 900px) {
    .header__wrapper {
        justify-content: space-between;
    }
    .header__burger {
        width: 50px;
        height: 30px;
        position: relative;
    }
    .burger__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #322E2F;
        position: absolute;
        left: 0;
    }
    .burger__line__first {
        top: 0;
    }
    .burger__line__second {
        top: 50%;
        transform: translateY(-50%);
    }
    .burger__line__third {
        bottom: 0;
    }
    .header__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(30px);
        z-index: 10;
        padding: 0 75px 75px 75px;
        transform: translateX(100%);
        transition: .2s all linear;
    }
    .header__logo__nav {
        display: block;
    }
    .header__nav__close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 27px;
        right: 60px;
    }
    .header__nav__close__line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #322E2F;
        position: absolute;
        left: 0;
        top: 50%;
    }
    .header__nav__close__line:first-child {
        transform: translateY(-50%) rotate(45deg);
    }
    .header__nav__close__line:last-child {
        transform: translateY(-50%) rotate(-45deg);
    }
    .header__nav__active {
        transform: translateX(0);
    }
    .header__nav__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav__item {
        margin-left: 0;
    }
    .nav__link {
        font-size: 42px;
        line-height: 48px;
        color: #322E2F;
    }
    .creative__wrapper {
        column-gap: 50px;
    }
    .img__caption {
        font-size: 20px;
    }
    .cards__view-window {
        width: 70%;
    }
    .info__wrapper {
        flex-direction: column-reverse;
    }
    .info__subtitle__media {
        padding-top: 40px;
    }
    .info__section-right {
        width: 100%;
        margin-bottom: 40px;
        justify-content: center;
    }
    .info__section-left {
        width: 100%;
    }
    .info__item {
        max-width: none;
    }
    .pic__wrap {
        transform: scale(.9) translateX(-50%) translateY(-50%);
    }
}
@media screen and (max-width: 834px) {
    .main__title {
        font-size: 27px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .main__subtitle {
        font-size: 13px;
        line-height: 20px;
    }
    .main__button {
        font-size: 13px;
        padding: 17px 32px;
    }
}
@media screen and (max-width: 800px) {
    .main__section-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        grid-template-rows: 2fr;
        row-gap: 20px;
        height: auto;
    }
    .main__title {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
        padding-top: 0;
        max-width: 500px;
        margin: auto;
        font-size: 37px;
        line-height: 50px;
    }
    .main__img__wrapper {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
    .main__subtitle {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
        margin-bottom: 0;
    }
    .main__button {
        grid-column-start: 2;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
        margin: auto;
        margin-bottom: 0px;
    }
    .form__dialog {
        transform: scale(.8);
    }
    .creative__wrapper {
        column-gap: 25px;
    }
}
@media screen and (max-width: 785px) {
    .form__fill {
        margin-right: 0;
        margin-left: 0;
    }
}
@media screen and (max-width: 764px) {
    .wrapper {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 30px 0 15px;
        position: relative;
    }
    .main__subtitle {
        line-height: 30px;
        font-size: 15px;
    }
    .main__button {
        font-size: 15px;
    }
}
@media screen and (max-width: 700px) {
    .main-page {
        min-height: auto;
    }
    .section-2 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 4fr;
    }
    .bg__circle-1 {
        border-radius: 50%;
        width: 130px;
        height: 130px;
    }
    .creative__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6);
    }
    .creative__img-1 {
        width: 50%;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
        padding-top: 30px;
    }
    .creative__img-2 {
        width: 50%;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 1;
        padding-top: 30px;
    }
    .creative__img-3 {
        width: 50%;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 5;
        grid-row-end: span 1;
        padding-top: 30px;
    }
    .img__caption {
        font-size: 25px;
    }
    .img__caption-1 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .img__caption-2 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 4;
        grid-row-end: span 1;
    }
    .img__caption-3 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 6;
        grid-row-end: span 1;
    }
    .info__subtitle__media {
        display: none;
    }
    .info__text__media {
        padding-top: 40px;
        font-size: 25px;
    }
    .pic__wrap {
        transform: scale(.75) translateX(-50%) translateY(-50%);
    }
    .footer__wrapper {
        justify-content: center;
    }
    .footer__form {
        width: inherit;
    }
    .footer__contacts {
        width: inherit;
    }
    .form__fill {
        margin-left: 0;
    }
    .contacts__title {
        margin: 0 auto 50px;
    }
}
@media screen and (max-width: 660px) {
    .cards__item__title {
        font-size: 12px;
    }
    .cards__order-button {
        font-size: 10px;
        line-height: 24px;
    }
}
@media screen and (max-width: 600px) {
    .main__title {
        font-size: 30px;
        line-height: 35px;
    }
    .main__subtitle {
        line-height: 20px;
        font-size: 12px;
    }
    .main__button {
        font-size: 12px;
        padding: 15px 25px;
    }
    .form__dialog {
        transform: scale(.7);
    }
    .cards__view-window {
        width: 50%;
        margin-bottom: 30px;
    }
    .cards__item__title {
        font-size: 15px;
    }
    .cards__order-button {
        font-size: 12px;
        line-height: 24px;
    }
    .cards-page .cards__arrow-left {
        left: 15px;
        transform:  translateY(-50%) scale(.7);
    }
    .cards-page .cards__arrow-right {
        right: 30px;
        transform:  translateY(-50%) scale(.7);
    }
    .slides .cards__arrow-left {
        transform:  translateY(-50%) scale(.7);
    }
    .slides .cards__arrow-right {
        transform:  translateY(-50%) scale(.7);
    }
    .cards__bar__scroll {
        width: 25%;
    }
    .pic__wrap {
        transform: scale(.65) translateX(-50%) translateY(-50%);
    }
}
@media screen and (max-width: 500px) {
    .wrapper {
        padding: 0 15px 0 15px;
    }
    .scroll {
        display: none;
    }
    .header__nav {
        padding: 0 15px 75px 15px;
    }
    .header__nav__close {
        right: 15px;
    }
    .main__title {
        font-size: 25px;
        line-height: 30px;
    }
    .main__subtitle {
        line-height: 17px;
        font-size: 12px;
    }
    .main__button {
        font-size: 10px;
        padding: 10px 18px;
    }
    .creative__title {
        display: none;
    }
    .creative__title__media {
        display: block;
    }
    .cards-page .cards__arrow-left {
        left: 15px;
    }
    .cards-page .cards__arrow-right {
        right: 15px;
    }
    .portfolio__wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .portfolio__photo-1 {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 1;
        grid-row-end: span 1;
    }
    
    .portfolio__photo-2 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .portfolio__photo-3 {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 1;
    }
    .portfolio__photo-4 {
        display: none;
    }
    .portfolio__photo-5 {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 4;
        grid-row-end: span 1;
    }
    .portfolio__photo-6 {
        grid-column-start: 3;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
    }
    .portfolio__photo-7 {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: span 1;
    }
    .info__img__wrapper {
        width: 100%;
    }
    .pic__wrap {
    position: relative;
    position: absolute;
    top: 17%;
    left: 0%;
    transform-origin: left top;
    transform: scale(1);
    }
    .pic {
        width: auto;
        height: auto;
        transform: rotate(-12deg);
        overflow: visible;
        animation: none;
    }
    .pic__text {
        font-family: 'Montserrat';
        font-size: 30px;
        fill: #fff;
    }
}
@media screen and (max-width: 450px) {
    .cards__view-window {
        width: 70%;
    }
    .pic__wrap {
        transform: scale(.8);
        }
    .pic {
            transform: rotate(-10deg);
        }
}
@media screen and (max-width: 426px) {
    .main__section-1 {
        grid-template-columns: 1fr;
        row-gap: 50px;
        margin-top: 90px;
    }
    .main__title {
        font-size: 30px;
        line-height: 35px;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 1;
        grid-row-end: span 1;
        text-align: center;
    }
    .main__img__wrapper {
        display: none;
    }
    .main__subtitle {
        line-height: 20px;
        font-size: 15px;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 1;
        max-width: none;
        text-align: center;
    }
    .main__button {
        font-size: 12px;
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 3;
        grid-row-end: span 1;
        width: 100%;
    }
    .form__dialog {
        transform: scale(.6);
    }
    .creative__img-1 {
        padding-top: 0;
        width: 70%;
    }
    .creative__img-2 {
        padding-top: 0;
        width: 70%;
    }
    .creative__img-3 {
        padding-top: 0;
        width: 70%;
    }
    .creative__title {
        font-size: 30px;
    }
    .cards__title {
        font-size: 30px;
    }
    .portfolio__title {
        font-size: 30px;
    }
    .info__title {
        font-size: 30px;
    }
    .form__title {
        font-size: 30px;
    }
    .contacts__title {
        font-size: 30px;
    }
    .img__caption {
        font-size: 15px;
    }
    .info__text__media {
        font-size: 15px;
    }
    .info__subtitle {
        font-size: 15px;
        line-height: 20px;
    }
    .info__item__text {
        font-size: 12px;
    }
    .footer .form__field::placeholder {
        font-size: 15px;
    }
    .footer .form__button {
        font-size: 15px;
    }
    .footer .footer__item__text {
        font-size: 15px;
    }
    .footer__logo {
        display: none;
    }
    .footer__wrapper {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 400px) {
    .header__nav {
        padding-bottom: 150px;
    }
    .nav__link {
        font-size: 30px;
    }
    .pic__wrap {
        transform: scale(.7);
        }
    .footer {
        background: url(../img/bg_circle_14.svg) -2% 10% no-repeat,
                    url(../img/bg_circle_15.svg) 90% 20% no-repeat,
                    url(../img/bg_circle_16.svg) 50% 33% no-repeat,
                    url(../img/bg_circle_18.svg) 57% 90% no-repeat;
                    background-color: #fff;
    }
}
@media screen and (max-width: 350px) {
    .form__dialog {
        padding: 48px 15px 14.5px;
        border-radius: 15px;
    }
    .cards__view-window {
        width: 80%;
    }
    .cards-page .cards__arrow-left {
        left: 0px;
    }
    .cards-page .cards__arrow-right {
        right: 0px;
    }
    .pic__wrap {
        transform: scale(.6);
    }
    .footer__form .form__fill {
        padding: 20px;
    }
    .footer__form .form__field {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
        padding-left: 0;
        text-align: center;
    }
    .footer__form .form__button {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 15px;
    }
}
@media screen and (max-height: 450px) {
    .header__nav {
        padding-bottom: 15px;
    }
    .nav__link {
        font-size: 25px;
    }
    .main-page {
        min-height: auto;
    }
    .main__wrapper {
        height: auto;
    }
    .main__section-1 {
        margin-bottom: 70px;
    }
}
